<!DOCTYPE html>
<html>
  <%- include('../partials/head') %>
  <link rel="stylesheet" href="/css/dashboard/dashboard.css" />

  <body>
    <%- include('header') %>
    <div class="actions">
      <div class="breadcrumbs">
        <p>Dashboards /</p>
        <p class="active">Default</p>
      </div>
      <button class="link-button" id="new">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M12 6L12 18"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
          <path
            d="M18 12L6 12"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
        New
      </button>
    </div>
    <div class="container">
      <div class="main">
        <h1>Main content</h1>
      
      </div>

      <div class="peers">
        <h1>Peers you may know</h1>

        <% if (peers.length> 0) { %> <% for( let i=0; i<Math.min(peers.length, 5); i++ ) { const
        {firstName, lastName, middleName, username, followers, following,
        _id}=peers[i]; %> <% if (username===user.username) { continue; %> <% }
        else {%>
        <div class="card" id="<%= _id %>">
          <img
            src= <%= "assets/img/avatar.png"%>
            alt=""
            class="user-img"
          />
          <a href="/peers/<%= username %>">
            <div class="text">
               <% if (user.followers.includes(_id)) { %>
                <p class="follows">Follows you</p>
                <% } %>
              <div class="name"><%=firstName %> <%=lastName %></div>
              <p class="username">@<%= username %></p>
            </div>
          </a>
         
          <% if (user.following.includes(_id)) { %>
          <button class="unfollow tertiary-button" data-custom="<%= _id%>"
            data-user="<%= user._id%>">Following</button>
          <% } else {%>
            <button data-custom="<%= _id%>"
            data-user="<%= user._id%>"
            class="primary-button icon">
          Follow
            </button>
          <% }%>
        </div>
        <% }%> <% } %> <% } else{ %>
        <h1>Looks like you are the only one here</h1>
        <% }%>
      </div>
    </div>
    <div class="overlay">
        <form class="form">
          <h1>Create new event</h1>
         <div class="buttons">
          <button class="secondary-button">Cancel</button>
          <button class="primary-button">Create event</button>
          </div>
        </form>
      </div>
      <script src="./script/following.js"></script>

      <script>
  const newBtn = document.getElementById("new");
  newBtn.addEventListener("click", (e) => {
    document.querySelector(".overlay").style.display = "flex";
  });
  </script>
  </body>
</html>
