<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="./css/course/course.css" />

  <body>
    <%- include('./partials/banner') %> <%- include('./partials/topnav') %>
    <main class="hero">
      <div class="texts">
        <div class="info">
          Growing 
          Community
        </div>
        <h1>
          <div>
            Connecting
            <span>
              <div class="chips">
                <div class="chip"></div>
                <div class="chip"></div>
                <div class="chip"></div>
                <div class="chip"></div>
              </div>
              you
            </span>
          </div>
          to your perfect tutor
        </h1>
        <p>
          We believe in fun and effective learning with like-minded individuals
          and familiar experts. Join the peer to peer community for a
          personalized experience that's all about you!
        </p>
        <div class="buttons">
          <button class="secondary-button">Learn more</button>
          <% if (user) { %>
          <a href="/app"
            ><button class="primary-button">Go to dashboard</button></a
          >
          <% } else {%>
          <a href="/signup"
            ><button class="primary-button">Join us today!</button></a
          >
          <% } %>
        </div>
      </div>
      <div class="img-container">
        <% if (tutors !== null) { %> <% for( let i = 0; i<Math.min(tutors.length, 2); i++ ) { const
        {firstName, lastName, username, _id, profilePicture} = tutors[i]; %> <% if (username &&
        user && (username===user.username)) { continue; %> <% } else {%>
        <div class="tutor-card" id="_id">
          <div class="header" style="background: url('<%= profilePicture %>');">
            <div class="overlay">
              <img src="./assets/heart.svg" alt="" class="icon" />
            </div>
          </div>
          <div class="details">
            <img src="./assets/loader.svg" alt="" class="img" />
            <p class="expertise">Expert in Music</p>
            <% if (user && user.followers.includes(_id)) { %>
            <p class="follows">Follows you</p>
            <% } %>
            <p class="name"><%= firstName %> <%= lastName %></p>
            <% if (user && user.following.includes(_id)) { %>
            <button
              class="unfollow tertiary-button"
              data-custom="<%= _id%>"
              data-user="<%= user._id%>"
            >
              Following
            </button>
            <% } else if (user) {%>
            <button
              data-custom="<%= _id%>"
              data-user="<%= user._id%>"
              class="primary-button icon"
            >
              Follow @ <%= username %>
            </button>
            <% }%>
          </div>
        </div>
        <% } %> <% } %> <% } else { %>
        <p>Nothing to see</p>
        <% }%>
      </div>
    </main>

    <a href="/courses"><button class="load">Load more meetups</button></a>
    <script src="./script/script.js"></script>
    <script src="./script/following.js"></script>
  </body>
</html>
