<link rel="stylesheet" href="./css/course/course.css" />
<div class="courses">
  <div class="tab">
    <!-- <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">All</button>
        <button class="tablinks" onclick="openCity(event, 'Paris')">Javascript</button>
        <button class="tablinks" onclick="openCity(event, 'Tokyo')">Python</button>
        <button class="tablinks">Cyber Security</button>
        <button class="tablinks">HTML</button>
        <button class="tablinks">CSS</button>
        <button class="tablinks">PHP</button>
        <button class="tablinks">UI UX</button>
        <button class="tablinks">Logo Design</button>
        <button class="tablinks">Kali Linux</button>
        <button class="tablinks">C++</button>
        <button class="tablinks">Java</button> -->
    <% if (categories.length > 0) { %> <% categories.forEach(category => { %>
    <button
      class="tablinks"
      onclick="openCity(event, 'Paris')"
    >
      <%= category %>
    </button>
    <% }) %> <% } %>
  </div>
  <% if (courses.length > 0) { %>
    <% courses.map(course => { 
      const {name, tutor, price, tag} = course;
      %>
       <h1><%= name %></h1>
       <p><%= tutor.tutorName %></p>
       <p><%= price %></p>
       <p><%= tag %></p>
    <% }) %>
   <% } %>
</div>
<script src="./script/script.js"></script>
